body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .content {
    padding: 20px;
  }
  
  .landing-page,
  .about-me-page,
  .projects-page {
    text-align: center;
  }
  
  .landing-page h1,
  .about-me-page h2,
  .projects-page h2 {
    margin-bottom: 20px;
  }
  