/* Footer Styling */
.footer {
    
    background-color: #3F0000;  
    color: white;            /* White text color */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .footer p {
    font-family: "Nunito", 'sans-serif';
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Adds space between icons */
  }
  
  .footer .social-icon {
    color: white;           /* Default color of icons */
    font-size: 24px;        /* Increased icon size */
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 100%;     /* Circular background effect */
    
  }
  
  .social-icon:hover {
    color: #BCA58E; /* Gold color on hover */
    transform: scale(1.2); /* Slightly enlarges the icons on hover */
     /* Darkens background on hover */
  }
  
  .social-icon:active {
    transform: scale(1.1);  /* Slight shrink effect when clicked */
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
    }
  
    .footer p {
      font-size: 12px;
      margin-bottom: 5px;
    }
  
    .social-icons {
      gap: 10px; /* Reduce gap between icons on smaller screens */
    }
  
    .social-icon {
      font-size: 20px; /* Slightly smaller icons on smaller screens */
      padding: 8px;    /* Reduce padding */
    }
  }

  
  