.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b2e2e;
  padding: 20px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.logo-image {
  width: 50px;
  height: auto;
  object-fit: contain; /* Ensures images fit well */
  transition: transform 1s ease, scale 0.5s ease;
}

.logo-image:hover {
  transform: rotate(10deg) scale(1.1); /* Subtle rotation and zoom effect on hover */
}

.logo-text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.logo:hover .logo-text {
  opacity: 1;
  transform: translateY(-50%) translateX(10px); /* Slide-in effect on hover */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f1c40f; /* Underline effect color */
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nav-link:hover::after {
  width: 100%;
}



.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-icon {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.social-icon:hover {
  color: #f1c40f;
  transform: scale(1.2); /* Slight zoom on hover */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .social-icons {
    margin-top: 10px;
    justify-content: flex-start;
  }
}
