/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .main-content {
    padding: 20px;
  }
  
  /* Button Styles */
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .main-content {
      padding: 15px;
    }
  
    header, footer {
      padding: 8px;
    }
  
    .button {
      width: 100%;  /* Make buttons full width on smaller screens */
    }
  }


.hero-section {
  background-color: #fff;
  text-align: center;
}

.hero-text h1 {
  color: #333;
  font-size: 2rem;
  margin-top: 20px;
}
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .button {
      padding: 15px;
    }
  }
  
  /* LandingPage.css */
.landing-page {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* styles.css or App.css */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    header {
      font-size: 14px;
    }
  
    nav ul {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .hero-section {
      padding: 30px;
    }
  
    .hero-text h1 {
      font-size: 1.5rem;
    }
  }
  
  /*  LoadingScreen.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1CB5E0; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease; /* Smooth fade transition */
}


.tc-text {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
